/* Tablet only. */
@media only screen and (max-height:768px) {
	#resource_card {
		/*top:15em;
		bottom:initial!important;
		left:5em;*/
	}
}

/* Tablet only. */
@media only screen and (min-width:600px) {
	#resource_card {
		width:300px;
		max-height: 222px;
		top:3.5em;
		left:0;
		bottom:auto;
	}
	
	#resource_card #card_report_menu {
		display:block;
	}
	
	#location_card {
		width:300px;
		max-height: 150px;
		top:3.5em;
		left:0;
	}
}

/* Tablet and desktop/laptop only. */
@media only screen and (min-width:768px) {
	/*#header_top {
		margin-bottom:15px;
	}*/
	
	#made_in_Flint {
		margin-top:0;
		margin-bottom:0;
		display:block;
		float:left;
	}
	
	.navbar-header {
		margin-top:0;
	}
	
	#header_top {
		padding:10px;
	}
	
	#logo img {
		display:inline;
	}
	
	#main_menu {
		width:100%!important;
	}
	
	#show_me_menu ul {
		padding-left:0!important;
		position:absolute!important;
	}
	
	#show_me_menu .dropdown-menu a {
		padding:5px!important;
	}
	
	#toggles {
		margin-bottom:-16px;
	}
	
	#sidebar {
		height:35em;
	}
	
	#topbar {
		display:none;
	}
	
	#resource_card {
		left:15em;
	}	
	
	.stepper-vert-inner .btn_group .back_button {
		display:none;
	}
	
	#filter_page #allFilters_step1_content .card-img img {
		width:100px;
	}
}

/* Desktop/Laptop only. */
@media only screen and (min-width:992px) {
	#logo {
		margin-top:0;
	}
	
	#logo img {
		width:4rem;
		height:4rem;
	}
	
	.col-md-12 {
		float:none;
	}
	
	main {
		/*margin:0 25%;*/
	}

	main[id="index_page"] {
		margin:0;
	}

	main .col-md-12 {
		width:auto!important;
	}

	main .col-md-12[id="index_page"] {
		width:100%!important;
	}
	
	#index_page main {
		margin:0!important;
	}
	
	#slide-nav, #navbar-height-col {
		z-index:auto!important;
	}
	
	#main_menu {
		width:75rem!important;
		margin:0 auto!important;
	}
	
	#main_menu a {
		padding-left:0;
	}	
	
	#show_me_menu #show_me_toggle{
		pointer-events:auto;
	}
	
	#toggles span {
		display:inline;
	}
	
    #provider_popup img {
		width:30px;
	}
	
	#resource_card {
		left:25em;
	}

	#news_page .tab-nav {
		margin-top:24px!important;
	}
}