/* Tablet only. */
@media only screen and (min-width:600px) {
	#location_card, #resource_card, #legend_card {
		bottom:initial;
		right:initial;
	}
		
	#resource_card {
		width:25em;
		top:3.5em;
		bottom:auto;
	}
	
	#resource_card #card_report_menu {
		display:block;
	}
	
	/*#location_card {
		width:300px;
		max-height: 150px;
		top:3.5em;
		left:0;
	}*/
	
	#legend_card .col-xs-3{
		text-align: center;
		padding-left: .1em;
		padding-right: .1em;
	}
	
	#legend_card .card-inner {
		margin: 14px 4px!important;
	}
	
}

/* Tablet and desktop/laptop only. */
@media only screen and (min-width:768px) {
	/*#header_top {
		margin-bottom:15px;
	}*/
	
	#made_in_Flint {
		margin-top:0;
		margin-bottom:0;
		display:block;
		float:left;
	}
	
	.navbar-header {
		margin-top:0;
	}
	
	#header_top {
		padding:10px;
	}
	
	#logo {
		margin:0 20%;	
	}
	
	#logo img {
		display:inline;
	}
	
	#main_menu {
		width:100%!important;
	}
	
	#main_menu li {
		height: 48px;
		padding:0 24px;
	}
	
	#main_menu a {
		margin:0;
		padding:0;
		line-height:48px;
	}
	
	#main_menu .nav-justified li {
		width:10em;
	}
	
	#show_me_menu ul {
		padding-left:0!important;
		position:absolute!important;
	}
	
	#show_me_menu li {
		width:auto!important;
		padding:0 12px!important;
	}
	
	#show_me_menu .dropdown-menu a {
		padding:5px!important;
	}
	
	#toggles {
		margin-bottom:-16px;
	}
	
	#sidebar {
		height:35em;
	}
	
	#topbar {
		display:none;
	}
	
	.stepper-vert-inner .btn_group .back_button {
		display:none;
	}
	
	#filter_page #allFilters_step1_content .card-img img {
		width:100px;
	}
}

/* Desktop/Laptop only. */
@media only screen and (min-width:992px) {
	#logo {
		margin-top:0;
	}
	
	#logo img {
		width:4rem;
		height:4rem;
	}
	
	.col-md-12 {
		float:none;
	}
	
	main {
		/*margin:0 25%;*/
	}

	main[id="index_page"] {
		margin:0;
	}

	main .col-md-12 {
		width:auto!important;
	}

	main .col-md-12[id="index_page"] {
		width:100%!important;
	}
	
	#index_page main {
		margin:0!important;
	}
	
	#slide-nav, #navbar-height-col {
		z-index:auto!important;
	}
	
	#main_menu {
		width:60rem!important;
		margin:0 auto!important;
	}
	
	#main_menu a {
		padding-left:0;
	}	
	
	#show_me_menu #show_me_toggle{
		pointer-events:auto;
	}
	
	#toggles span {
		display:inline;
	}
	
    #provider_popup img {
		width:30px;
	}

	#news_page .tab-nav {
		margin-top:24px!important;
	}
	
	#show_me_menu .dropdown-menu {
		border: none;
		border-radius: 2px;
		box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
	}
	
	#show_me_menu .dropdown-menu li{
		margin: 0!important;
		padding: 0 16px!important;
		height: 48px;
		line-height: 48px!important;
	}
}