/* Tablet and desktop/laptop only. */
@media only screen and (min-width: 768px) {
	header, .navbar-default {
		background-color:#252E56!important;
	}
	
	/*#header_top {
		margin-bottom:15px;
	}*/
	
	#made_in_Flint {
		margin-bottom:0;
		display:block;
		float:left;
	}
	
	.navbar-header {
		margin-top:0;
	}
	
	.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .open > a {
		color:#FFF!important;
	}
	
	#header_top {
		padding:10px;
	}
	
	#logo img {
		display:inline;
	}
	
	#logo h1 {
		font-size:1.75em;
	}
	
	#main_menu {
		width:100%!important;
		background:transparent!important;
		color:#A4A8B9!important;
	}
	
	#show_me_menu ul {
		padding-left:0!important;
		position:absolute!important;
	}
	
	#show_me_menu a {
		color:#a4a8b9 !important;
	}
	
	#show_me_menu .dropdown-menu a {
		padding:5px!important;
		font-size:100%;
		color:#337ab7!important;
	}
	
	#toggles {
		margin-bottom:-16px;
	}
	
	#topbar {
		display:none;
	}
	
	#steppers .done .stepper-step::before {
		background-color:#9A9A9A!important;
	}
	
	#steppers .active span {
		font-weight:bold;
	}
	
	footer h5 {
		text-align:center;
	}
}

/* Desktop/Laptop only. */
@media only screen and (min-width: 992px) {
	#logo {
		margin-top:0;
	}
	
	#logo img {
		width:4rem;
		height:4rem;
	}
	
	#language_menu #language_toggle {
		font-size:1.3rem;
	}
	
	.col-md-12 {
		float:none;
	}
	
	main {
		/*margin:0 25%;*/
	}

	main[id="index_page"] {
		margin:0;
	}

	main .col-md-12 {
		width:auto!important;
	}

	main .col-md-12[id="index_page"] {
		width:100%!important;
	}
	
	#index_page main {
		margin:0!important;
	}
	
	#slide-nav, #navbar-height-col {
		z-index:auto!important;
	}
	
	#main_menu {
		width:75rem!important;
		margin:0 auto!important;
		text-transform:uppercase!important;
	}
	
	#main_menu a {
		padding-left:0;
	}	
	
	#show_me_menu #show_me_toggle{
		pointer-events: auto;
	}
	
	#toggles span {
		display:inline;
	}
	
    #provider_popup img {
		width:30px;
	}
	
	#sidebar {
		height:35em;
	}

	#news_page .tab-nav {
		margin-top:24px!important;
	}
	
	footer h5 {
		text-align:center;
	}
}