html, body {
	background-color:transparent;
  	height:100%;
}

header {
	background-color:#000;
}

#header {
	padding-left:0!important;
	padding-right:0!important;
}

#main {
	padding:0;
}

#main .row {
	margin-left:0!important;
	margin-right:0!important;
}

.border {
	border-bottom:1px solid #CCC;
}

.btn::after, .btn-flat::after {
	background-color:transparent!important;
}


/* Navbar */
.navbar {
	margin-bottom:0!important;
	z-index:1000;
}

.navbar-header {
	margin-top:10px;
}

.navbar-brand {
	width:23rem;
	margin:0!important;
	padding:8px 0!important;
}

.navbar, .navbar-default {
	border-radius:0!important;
}

.navbar .material-icons {
	vertical-align:middle;
}

.navbar .navbar-right {
	/*display:none;*/
	margin-right:0px!important;
}

.nav {
	z-index:99;
}

#main_menu {
	margin-top:10px!important;
}

#main_menu a {
	padding:8px 15px!important;
}

.dropdown-menu .btn, .dropdown-menu .btn-flat {
	text-align:left!important;
}


/* Non-Map Pages */
main {
	padding:5px!important;
}

body[id="index_page"] main {
	padding:0!important;
}

.page-header {
	margin-top:20px!important;
	text-align:center;
}

#page_card {
	margin:12px!important;
	padding:3px;
}

#page_card .card-main {
	
}

#news {
	padding-top:12px;
}

#test_page #step2, #test_page #step3, #test_page #step4, #test_page #step5, #test_page #step6 {
	display: none;
}

#aerator_page #step2, #aerator_page #step3, #aerator_page #step4 {
	display: none;
}



/* Map-Related Styles. */

#toggles img {
	width: auto;
	height: 20px;
	vertical-align:middle;
}

@media only screen and (max-width: 768px) {
    #toggles span {
		display: none;
	}
}

#search_input {
	background-color: #fff;
	width: 250px;
	margin-left: 12px;
	padding: 0 11px 0 13px;
	font-size: 15px;
	font-weight: 300;
	text-overflow: ellipsis;
	top:10px!important;
	left:10px!important;
	display:none;
}

body[id="index_page"] #search_input {
	display:block;
}

#search_input:focus {
	border-color: #4d90fe;
}

#search_input {
	margin-top: 10px;
	border: 1px solid transparent;
	border-radius: 2px 0 0 2px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	height: 32px;
	outline: none;
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#search_button {
	background-color: #8ec7ff;
	width: 35px;
	height: 32px;
	font-size: 180%;
	color: #61b1ff;
	border-style: none;
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
	position:absolute;
	top:92px;
	left:272px;
	z-index: 1;
	display:none;
}

/*body[id="index_page"] #search_button {
	display:block;
}*/

#type-selector {
	color: #fff;
	background-color: #4d90fe;
	padding: 5px 11px 0px 11px;
}

#type-selector label {
	font-family: Roboto;
	font-size: 13px;
	font-weight: 300;
}

#map {
	width:100%;
	display:none;
}

body[id="index_page"] #map {
	display:block;
}

#map h1 {
	font-size:1.25em;
}

.resource_buttons{
	margin: 3px 5px;
}

.resource_buttons_image{
	margin-right: 3px;
}

.marker_window_icons{
	height: 50px;
	width: 50px;
}

.stepper_group_width{
	max-width: 150px;
    margin: 0px auto;
}

#survey-get-started .btn{
	width: 99%;
}

.stepper_group_width .stepper{
	padding-left: 0px!important;
}

#location_card {
	padding:5px;
	position:absolute;
	display:none;
}

#index_page .card {
	margin-top:0!important;
	margin-bottom:0!important;
}

#index_page .card-inner {
	margin-top:10px!important;
	margin-bottom:10px!important;
}

#index_page .card-inner h6 {
	margin-top:0!important;
	font-weight:bold;
}

#index_page .card-action {
	text-align:center;
}

#index_page .card-action .btn {
	padding:10px!important;
	font-size:0.9rem!important;
}

#index_page .card-action img {
	width:auto;
	height:18px!important;
	vertical-align:middle;
}

#saved_locations .btn {
	text-align:left;
	white-space:normal!important;
}

#provider_popup h1 {
	margin:0;
	padding:0;
	line-height:30px;
}

#provider_popup img {
	margin-right:8px;
}


footer {
	padding:4px;
}

footer span {
	vertical-align:middle;
}

/* Alert Box */
.alert {
	width:45rem;
	position:absolute;
	top:0;
	z-index:99;
	display:none;
}

.alert .close {
	top:-10px!important;
}

/* Tooltip */
.tooltip.top .tooltip-arrow {
  bottom: 0;
  left: 50%;
  margin-left: -5px;
  border-top-color: #fff;
  border-width: 5px 5px 0;
}
.tooltip-inner {
  color: #000;
  background: #fff;
  border: solid 1px #fff;
}

.resource_buttons{
	margin: 3px 5px;
}

.resource_buttons_image{
	margin-right: 3px;
}

.marker_window_icons{
	height: 50px;
	width: 50px;
}

.stepper_group_width{
	max-width: 150px;
    margin: 0px auto;
}

#survey-get-started .btn{
	width: 99%;
}

.stepper_group_width .stepper{
	padding-left: 0px!important;
}