html, body {
	background-color:transparent;
  	height:100%;
}

.container-fluid {
	padding:0!important;
}

.col-md-12 {
	padding:0!important;
}

.row {
	margin-left:0!important;
	margin-right:0!important;
}

#header {
	background-image:none;
	background-color:#252E56!important;
	color:#A4A8B9!important;
}

#header_top {
	padding:10px;
	clear:left;
}

#made_in_Flint {
	margin-bottom:8px;
	text-align:center;
	font-style:italic;
}

#header_top #logo {
	margin:0 20%;
	text-align:center;
}

#header_top #logo img {
	width:6rem;
	height:6rem;
	margin:0 6px 0 auto;
	display:inline;
	text-align:center;
	vertical-align:middle;
}

#header_top #logo h1 {
	margin:0!important;
	font-size:25px;
	display:inline;
	vertical-align:middle;
	color:#FFF;
}

#header_top #language_menu {
	padding-right:0!important;
	position:absolute!important;
	top:10px;
	right:10px;
}

#header_top #language_menu #language_toggle {
	width:auto!important;
	padding-left:6px!important;
	padding-right:6px!important;
	font-size:1.1rem;
	color:#A4A8B9!important;
}

#header_top #language_menu a:hover {
	text-decoration:none!important;
}

#header_top #language_menu .dropdown-menu {
	right:0!important;
}

#header_top #language_menu .dropdown-menu a {
	min-height:25px!important;
	padding-top:0!important;
	padding-bottom:0!important;
	line-height:25px!important;
}

#language_menu #lang_ar {
	display:none;
}

.border {
	border-bottom:1px solid #CCC;
}

.btn::after, .btn-flat::after {
	background-color:transparent!important;
}

.btn-primary {
	background-image:none!important;
	background-color:#252E56!important;
}

#page_content {
	position:relative;
	z-index:1!important;
}


/* Navigation */
#slide-nav .navbar-toggle {
	float:left;
	color:#A4A8B9!important;
}

#navbar-height-col {
	width:auto!important;
	padding-top:25px;
}

.navbar {
	margin-bottom:0!important;
	border:none;
}

.navbar-nav > li > a {
	text-shadow:none!important;
	color:inherit!important;
}

.navbar-default {
	background:none!important;
	color:#A4A8B9!important;
}

.navbar-header {
	width:100%;
	margin-top:10px;
}

.navbar-toggle {
	padding-top:8px!important;
}

.navbar-brand {
	width:23rem;
	margin:0!important;
	padding:8px 0 8px 15px!important;
}

.navbar, .navbar-default {
	border-radius:0!important;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .open > a {
	background-image:none!important;
	background-color:transparent!important;
	box-shadow:none!important;
	color:#245580!important;
}

.navbar .material-icons {
	vertical-align:middle;
}

.navbar .navbar-right {
	margin-right:0px!important;
}

.tab-nav {
	box-shadow:none!important;
}

#main_menu {
	background-color:#FFF!important;
	padding-top:15px!important;
	color:#000!important;
}

#main_menu .nav > li > .a::after, #main_menu .nav > li > a::after {
	border-bottom-color:#FFF!important;
}

.tab-nav .nav > li > .a::after, .tab-nav .nav > li > a::after {
	border-bottom-color:#3A4EA2!important;
}

#main_menu .active {
	background-color:transparent!important;
	color:#245580!important;
}

#language_menu, #show_me_menu {
	z-index:100!important;
}

#main_menu a {
	min-height:auto!important;
	padding:6px 0 6px 6px!important;
	text-transform:initial!important;
}

#show_me_menu #show_me_toggle{
	pointer-events: none;
}

#show_me_menu ul {
	min-height:35px!important;
	padding:5px 5px 5px 25px!important;
	line-height:35px!important;
	font-size:85%;
	position:static;
}

#show_me_menu .dropdown-menu > .active > a, .dropdown-menu > .active > a:focus, .dropdown-menu > .active > a:hover {
	color:#FFF!important;
}

#show_me_menu a {
	color:#000!important;
}

.dropdown-menu .btn, .dropdown-menu .btn-flat {
	text-align:left!important;
}


/* Map-Related Styles. */
#toggles, #toggles .wrapper, #toggles .list, #toggles label, #toggles img {
	z-index:1!important;
}

#toggles .active {
	background-color:#245580!important;
}

#toggles img {
	width: auto;
	height: 20px;
	vertical-align:middle;
}

#toggles .nav-tabs {
	border:none;
}

#toggles .wrapper {
    position:relative;
    margin:0 auto;
    overflow:auto;
	box-shadow:none;
}

#toggles .list {
    position:absolute;
    left:0px;
    top:0px;
    margin-top:0px;
}

#toggles .list label {
	display:table-cell;
    position:relative;
    text-align:center;
    color:#efefef;
    vertical-align:middle;
}

#toggles .scroller {
	text-align:center;
	display:none;
	padding:7px;
	padding-top:7.5px;
	white-space:no-wrap;
	vertical-align:top;
	background-color:#fff;
	z-index: 5!important;
}

#toggles .scroller-right{
	position: absolute;
	right: 0;
	top: 0;
}

#toggles .scroller-left {
	float:left;
}

.tile {
	background-color:transparent!important;
}

input[type='checkbox'] {
	display: none;
}

.resource_buttons {
	width: 240px;
	margin: 3px 5px;
}

.resource_buttons_image {
	margin-right: 3px;
}

#search_input {
	background-color: #fff;
	width: 250px;
	margin-left: 12px;
	padding: 0 11px 0 13px;
	font-size: 15px;
	font-weight: 300;
	text-overflow: ellipsis;
	top:10px!important;
	left:10px!important;
	display:none;
}

body[id="index_page"] #search_input {
	display:block;
}

#search_input:focus {
	border-color: #4d90fe;
}

#search_input {
	margin-top: 10px;
	border: 1px solid transparent;
	border-radius: 2px 0 0 2px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	height: 32px;
	outline: none;
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#search_button {
	background-color: #8ec7ff;
	width: 35px;
	height: 32px;
	font-size: 180%;
	color: #61b1ff;
	border-style: none;
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
	position:absolute;
	top:92px;
	left:272px;
	z-index: 1;
	display:none;
}

/*body[id="index_page"] #search_button {
	display:block;
}*/

#type-selector {
	color: #fff;
	background-color: #4d90fe;
	padding: 5px 11px 0px 11px;
}

#type-selector label {
	/*font-family: Roboto;*/
	font-size: 13px;
	font-weight: 300;
}

#map_container {
	position:relative;
}

#map {
	width:100%;
	display:none;
	z-index:1!important;
}

body[id="index_page"] #map {
	display:block;
}

#map h1 {
	font-size:1.25em;
}

#location_card {
	padding:5px;
	position:absolute;
	display:none;
	z-index:100!important;
}

#provider_popup img {
	width:25px;
}


/* Non-Map Pages */
main {
	padding:5px!important;
}

body[id="index_page"] main {
	padding:0!important;
}

.page-header {
	margin-top:20px!important;
	text-align:center;
}

#page_card {
	/*margin:12px!important;
	padding:3px;*/
}

#page_card .card-inner {
	margin:0!important;
}

.help_video {
	margin-bottom:12px;
}

#aerator_img {
	width:auto;
	height:200px;
	margin-bottom:10px;
	text-align:center;
}

.card-main h3/*, .card-inner p, .card-action a*/{
	margin-left: 16px;
}

.stpper-vert-inner li {
	padding-bottom:8px;
}

.stpper-vert-inner .btn {
	text-transform: uppercase;
}

.stpper-vert-inner .btn_group {
	margin-top:10px;
	text-align:center;
}

.stepper_group_width {
	max-width: 150px;
    margin: 0px auto;
}

.stepper_group_width .stepper {
	padding-left: 0px!important;
}

.cancel-stepper-border {
	border-left: 0px!important;
}

.filter-buttons {
	margin-right: 10px;
}

figure {
	float: left;
}

figure button {
	background:none;
}

figure img {
	width:auto;
	height:150px;
}

figcaption {
	margin: 0 10px 10px 0;
	text-align: center;
    box-shadow: 4px 2px 2px gray;
}

figcaption h4 {
	margin-top: 0!important;
}

#index_page .card {
	margin-top:0!important;
	margin-bottom:0!important;
}

#index_page .card-inner {
	margin-top:10px!important;
	margin-bottom:10px!important;
}

#index_page .card-inner h6 {
	margin-top:0!important;
	font-weight:bold;
}

#index_page .card-action {
	text-align:center;
}

#index_page .card-action .btn {
	padding:10px!important;
	font-size:0.9rem!important;
}

#index_page .card-action img {
	width:auto;
	height:18px!important;
	vertical-align:middle;
}

#saved_locations .btn {
	text-align:left;
	white-space:normal!important;
}

#provider_popup {
	width:25rem!important;
}

#provider_popup h1 {
	margin-bottom:12px;
	padding:0;
	font-size:1.5rem;
}

#provider_popup p {
	font-size:1.4rem;
}

#provider_popup img {
	width:30px;
	height:auto;
	margin-right:8px;
}


/* News Page */
#news_page main {
	padding:8px!important;
}

#news_page .tab-nav {
	margin-top:0!important;
}

#news_page .panel-heading img{
	width: 4em;
	height: auto;
	vertical-align: middle;
}

#news_page .panel-heading span{
	padding-left: 10px;
	vertical-align: middle;
}
#news_page .panel-heading h5{
	vertical-align: top;
}

#news_page .panel-body p {
	padding-top: 12px;
}



footer {
	padding:4px;
	z-index:1!important;
}

footer p {
	margin-top:0!important;
	text-align:justify;
}

footer a {
	display:none;
	text-align:center;
}

/* Alert Box */
.alert {
	width:45rem;
	position:absolute;
	top:0;
	z-index:1000;
	display:none;
}

.alert .close {
	top:-10px!important;
}

/* Tooltip */
.tooltip.top .tooltip-arrow {
  bottom: 0;
  left: 50%;
  margin-left: -5px;
  border-top-color: #fff;
  border-width: 5px 5px 0;
}

.tooltip-inner {
  color: #000;
  background: #fff;
  border: solid 1px #fff;
}

/* Tablet and desktop/laptop only. */
@media only screen and (min-width: 768px) {
	header, .navbar-default {
		background-color:#252E56!important;
	}
	
	#made_in_Flint {
		margin-bottom:0;
		float:left;
	}
	
	.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .open > a {
		color:#FFF!important;
	}
	
	#main_menu {
		background:transparent!important;
		color:#A4A8B9!important;
	}
	
	#show_me_menu ul {
		padding-left:0!important;
		position:absolute!important;
	}
	
	#show_me_menu a {
		color:#a4a8b9 !important;
	}
	
	#show_me_menu .dropdown-menu a {
		padding:5px!important;
		font-size:100%;
		color:#337ab7!important;
	}
}

/* Desktop/Laptop only. */
@media only screen and (min-width: 768px) {
	#header_top #logo {
		margin-top:0;
		margin-bottom:25px;
	}
	
	#header_top #language_menu #language_toggle {
		font-size:1.3rem;
	}
	
	#header_top #logo img {
		width:8rem;
		height:8rem;
	}
	
	#header_top #logo h1 {
		font-size:30px;
	}
	
	.col-md-12 {
		float:none;
	}
	
	main {
		margin:0 25%;
	}

	main[id="index_page"] {
		margin:0;
	}

	main .col-md-12 {
		width:auto!important;
	}

	main .col-md-12[id="index_page"] {
		width:100%!important;
	}
	
	#index_page main {
		margin:0!important;
	}
	
	#slide-nav, #navbar-height-col {
		z-index:auto!important;
	}
	
	#main_menu {
		width:75rem;
		margin:0 auto!important;
		text-transform:uppercase!important;
	}
	
	#main_menu a {
		padding-left:0;
	}	
	
	#show_me_menu #show_me_toggle{
		pointer-events: auto;
	}
	
	#toggles span {
		display:inline;
	}
	
    #provider_popup img {
		width:30px;
	}

	#news_page .tab-nav {
		margin-top:24px!important;
	}
	
	footer p {
		margin-top:10px!important;
	}
	
	body[id="index_page"] footer p {
		margin-top:0!important;
	}
	
	footer p, footer a {
		text-align:center!important;
	}
}