*.log
app.yaml
cron.yaml
*.yaml
navbar_test.html
*.bak
color_scheme.png
includes/new db files/
includes/fusion_table_csv.php
includes/uma_db_processing.php
providers.json
js/Paul_map.js
oath_client_id.json
test.html
js/map_Miyako.js
.DS_Store
/admin/Minimal_Admin_Panel/
lead_test_results.csv
lead_predictions.csv
fusion_table_all.csv
fusion_table_recent.csv
geo_locations.csv
fusion_table_full.xlsx
oath_client_id.json
/vendor