body {
	padding:0;
}

.material-icons {
	vertical-align:middle;
}

/* Navigation */
.nav {
	margin:0;
}


/* Dashboard */
.col-md-8 {
	padding:0 15px;
}

#map {
	position:relative;
}

#map_layer_selection {
	margin:10px 0 10px -5px;
}

.btn-toolbar > .btn-group {
	margin-left:10px;
}

.btn-toolbar > .btn-group:first-child {
	margin-left:5px;
}

#location_card, #resource_card {
	position:absolute;
}

#location_card .close, #resource_card .close {
	position:absolute;
	right:0;
}

#location_card .close span, #resource_card .close span {
	margin-right:10px;
}

#location_card {
	width:20em;
	margin:0;
	z-index:200!important;
}

#location_card .close {
	margin-top:3px;
	margin-right:5px;
}

#location_card h5 {
	padding:8px 0;
}

#location_card .card-inner {
	margin:10px!important;
}

#location_card .card-inner hr {
	margin:8px 0;
}

#location_card #risk_img {
	width:auto;
	height:22px;
	margin-right:10px;
}

#resource_card {
	width:20em;
	height:12em;
}

#resource_card #provider_resources, #resource_card #provider_title {
	margin-bottom:10px;
}

#resource_card #provider_title {
	font-weight:bold;
}

#resource_card .marker_popup_icons {
	width:30px;
	height:auto;
}


#graph_area {
	margin:0 16px;
}


/* Reports Page */
#report_list h5 {
	margin-bottom:15px;
}

#report_area #time_period h5 {
	margin-bottom:5px;
}

#report_list .nav button {
	width:100%;
	margin-bottom:10px;
}

#report_list .help-block {
	margin-bottom:0;
}

#report_area #report_type {
	margin-bottom:15px;
}

#report_area #time_period .form-group {
	margin-top:0;
}

#report_area #options .form-group {
	margin-top:15px;
}

#report_area #time_period label, #report_area #limit label {
	padding-right:5px;
}

#report_area select {
	width:100%;
}

#report_area #limit input {
	margin-right:12px;
}

#report_area #clear_button {
	margin-right:12px;
}

#report_area #display_area {
	margin-top:15px;
}

#report_area #display_area .table-responsive {
	position:relative;
}

#report_area #display_area #table_header {
	position:absolute;
	top:0;
	left:0;
}

#report_area #display_area #scrollbox .table {
	margin-top:0;
}

#report_area #display_area table {
	width:100%;
}

#report_area #display_area table .record_number {
	width:2%;
}

#report_area #display_area table .address, #report_area #display_area table .date {
	width:30%;
}

#report_area #display_area table .lead_level, #report_area #display_area table .copper_level {
	width:19%;
}

#report_area #display_area #scrollbox {
	overflow-y:scroll;
}


/* Edit Page */
#edit_resources .panel-body {
	padding-top:0;
}

#edit_resources .panel-body #instructions, #edit_page #location_form #location_list {
	margin-top:15px;
}

#edit_page #category_options {
	padding-left:15px;
}

#edit_page #category_options label {
	padding-left:8px;
}


/* Profile Page */
#show_info label {
	padding-right:8px;
}


/* Login Page */
.login {
	padding-top:1em;
}

.login .login-bottom {
	margin-top:1em;
}

.login .login-bottom h2 {
	padding:0 0 0.9em 0;
}

.login #forgot_password {
	margin-top:-20px;
	margin-bottom:15px;
	display:block;
}


/* Account Management Page */
#mgmt_page .row {
	margin-bottom:15px;
}


/* Misc */
h3 {
	margin-bottom:20px;
}

section p {
	margin-bottom:15px;
}

li.disabled a {
	pointer-events:none;
}

.alert {
	margin:15px 0 0 0;
}

form label.error {
	display:block;
}

form .col-xs-12, form .col-md-3, form .col-md-5, form .col-md-6 {
	padding-left:0;
}

#page_alert {
	position:absolute;
}

#comments_form .icon {
	margin-top:0;
}

#comments_form .alert {
	margin-top:0;
}

#comments_form .modal-body .alert {
	margin-top:15px;
}


/* Footer */

footer {
	margin-top:15px;
}

footer.copy {
	padding:8px 0;
}

footer.copy a {
	padding-left:12px;
}